body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.quiz-container {
  background: white;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.option-btn {
  display: block;
  margin: 5px auto;
  padding: 8px;
  width: 80%;
}